<main>
  <nav>
    Menú 1
    Menú 2
  </nav>

  <section>
    <article>
      <header>
        <h2>
          Basic Angular Practice
        </h2>
      </header>

      <main>
        Fork this repository at <a href="https://github.com/AcademiaBinaria/angular-basic">Github</a>
        <router-outlet></router-outlet>
      </main>

    </article>
  </section>
  <aside>
    <header>
      <h3>Presentando:</h3>
    </header>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>HTML 5</li>
    </ul>
  </aside>
</main>
